@model IEnumerable<DonationApplication.Models.CountryModel>

@{
    ViewBag.Title = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Countries</h2>


<div style="display: flex; flex-wrap: wrap;">
    @foreach (var country in Model)
    {
    <div style="width: 33.33%; padding: 10px;">
        <div style="text-align: center;">
            @*<a href="@Url.Action("CountryDetails", "Organizations", new { country_code = country.COUNTRY_CODE })">*@
            <a href="@Url.Action("GetProjectsByCountryCode", "Projects", new { country_code = country.COUNTRY_CODE })">
                <img src="@Url.Action("GetImage", "Organizations", new { id = country.Id })" alt="@country.Id" style="max-width: 200px; max-height: 150px; border: 1px solid black;" />
            </a>
        </div>

        <h3 style="text-align: center;"><a href="@Url.Action("GetProjectsByCountryCode", "Projects", new { country_code = country.COUNTRY_CODE })">@country.COUNTRY_NAME</a></h3> @*gets projectList by country code*@
    </div>
    }
</div>
