@model DonationApplication.Models.OrganizationsModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Organization Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationCountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationCountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationPhone)
        </dd>

        <dd class="hidden">
            @Html.DisplayFor(model => model.OrganizationCode)
        </dd>

    </dl>
    <div class="text-right">
        @Html.ActionLink("Add New Project", "CreateNewProject", "Projects", new { orgCode = Model.OrganizationCode }, new { @class = "btn btn-success" })
    </div>
</div>
<p>
    @*@Html.ActionLink("Add New Project", "CreateNewProject", "Projects", new { orgCode = Model.OrganizationCode }, new { @class = "btn btn-success" })*@
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
