@model IEnumerable<DonationApplication.Models.OrganizationsModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .org-list-item:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "NewOrganizationCreate")
</p>
<table class="table" id="orgTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationCountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationPhone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="orgRow org-list-item" data-url="@Url.Action("ViewProjectsByOrganizationCode", "Projects", new { orgCode = item.OrganizationCode })">
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationCountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationPhone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "link_texts"}) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "link_texts" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "link_texts" })
            </td>
        </tr>
    }

</table>


@section Scripts {
    <script src="~/Scripts/jquery-3.6.4.js"></script>
    <script>
        $(document).ready(function () {
            $("#orgTable .orgRow").click(function (e) {
                // Exclude the Donate button from the click event
                if ($(e.target).is('.link_texts')) {
                    return;
                }

                var url = $(this).data("url");
                window.open(url, "_blank");
            });
        });
    </script>
}
