@model DonationApplication.Models.ProjectModel

@{
    ViewBag.Title = "CreateNewProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Project</h2>
<h4>Country : @ViewBag.countryName</h4>
<h4>Organization : @ViewBag.organizationName</h4>


@using (Html.BeginForm("CreateProjectInDB", "Projects")) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.PROJECT_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PROJECT_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PROJECT_NAME, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PROJECT_DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.PROJECT_DESCRIPTION, new { @class = "form-control", rows = 4, cols = 50 })
            @Html.ValidationMessageFor(model => model.PROJECT_DESCRIPTION, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PROJECT_CODE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PROJECT_CODE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PROJECT_CODE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PROJECT_ORGANIZATION_CODE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PROJECT_ORGANIZATION_CODE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.PROJECT_ORGANIZATION_CODE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PROJECT_FUND, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PROJECT_FUND, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PROJECT_FUND, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PROJECT_TARGET_FUND, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PROJECT_TARGET_FUND, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PROJECT_TARGET_FUND, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create Project" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
