@model DonationApplication.Models.ProjectModel

@{
    ViewBag.Title = "GetProjectDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .slider {
        width: 100%;
    }

        .slider img {
            display: block;
            width: 100%;
            height: auto;
        }
</style>

<h2>Project Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PROJECT_NAME)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PROJECT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROJECT_DESCRIPTION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PROJECT_DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROJECT_CODE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PROJECT_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROJECT_ORGANIZATION_CODE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PROJECT_ORGANIZATION_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROJECT_FUND)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PROJECT_FUND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROJECT_TARGET_FUND)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PROJECT_TARGET_FUND)
        </dd>
    </dl>
</div>

<div class="slider">
    @if (ViewBag.Images != null)
    {
        foreach (var imagePath in ViewBag.Images)
        {
            <img src="@Url.Content("~/Images/" + imagePath)" alt="Project Image" />
        }
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

<script>
    $(document).ready(function () {
        $('.slider').slick({
            dots: true,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
            autoplay: true,
            autoplaySpeed: 5000
        });
    });
</script>