@model DonationApplication.Models.DonationModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("SelectedProject", "Home", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(model => model.COUNTRY_NAME, "Country:")

    @if(ViewBag.CountryList != null)
    {
        @Html.DropDownListFor(model => model.COUNTRY_NAME, ViewBag.CountryList as SelectList, "--Select Country--", new { @class = "form-control" })
    }
</div>

<div class="form-group">
    @Html.LabelFor(model => model.OrganizationCode, "Organization:")

    @Html.DropDownListFor(model => model.OrganizationCode, new SelectList(" "), "--Select Organization--", new { @class = "form-control" })
    
</div>

    <div class="form-group">
        @Html.LabelFor(model => model.PROJECT_CODE, "Project:")

        @Html.DropDownListFor(model => model.PROJECT_CODE, new SelectList(" "), "--Select Project--", new { @class = "form-control" })
        
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DONATION_AMOUNT, "Donation Amount:")
        @Html.TextBoxFor(model => model.DONATION_AMOUNT, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}

<script src="~/Scripts/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#COUNTRY_NAME").change(function () {
            $.get("/Donation/GetOrgByCountryCode", { countryCode: $("#COUNTRY_NAME").val() }, function (data) {
                $("#OrganizationCode").empty();
                $.each(data, function (index, row) {
                    $("#OrganizationCode").append("<option value='" + row.OrganizationCode + "'>" + row.OrganizationName + "</option>")
                })

                $.get("/Donation/GetProjByOrgCode", { orgCode: $("#OrganizationCode").val() }, function (data) {
                    $("#PROJECT_CODE").empty();
                    $.each(data, function (index, row) {
                        $("#PROJECT_CODE").append("<option value='" + row.PROJECT_CODE + "'>" + row.PROJECT_NAME + "</option>")
                    })
                });
            });           
        })

        $("#OrganizationCode").change(function () {
            $.get("/Donation/GetProjByOrgCode", { orgCode: $("#OrganizationCode").val() }, function (data) {
                $("#PROJECT_CODE").empty();
                $.each(data, function (index, row) {
                    $("#PROJECT_CODE").append("<option value='" + row.PROJECT_CODE + "'>" + row.PROJECT_NAME + "</option>")
                })
            });
        })
    });
</script>